<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
</head>
<body>
    <form action="{% url 'alunocadastro' %}" method="post">
    {% csrf_token %}
    <h2>Faça seu Cadastro - Estudante</h2>
    <label>Nome</label>
    {{ form.nome }}<br>
    <label>Sobrenome</label>
    {{ form.sobrenome }}<br>
    <button type="submit">Salvar</button>
    </form>
    
</body>
</html>