<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
</head>
<body>
    <form action="{% url 'cadastro' %}" method="post">
    {% csrf_token %}
    <h2>Faça seu Cadastro - Estudante</h2>
    <!-- <label>Nome</label>
    {{ form.first_name }}<br>
    <label>Sobrenome</label>
    {{ form.last_name }}<br> -->
    <label>Nome de Usuário</label>
    {{ form.username }}<br>
    <label>Password</label>
    {{ form.password }}<br>
    <label>E-mail</label>
    {{ form.email }}<br>
    <!-- <label>Rua, Avenida, Travessa, etc</label>
    {{ form.endereco }}<br>
    <label>Número</label>
    {{ form.numero }}<br>
    <label>Bairro</label>
    {{ form.bairro }}<br>
    <label>Cidade</label>
    {{ form.cidade }}<br>
    <label>Estado</label>
    {{ form.estado }}<br> -->
    <button type="submit">Salvar</button>
    </form>
    
</body>
</html>